<center>
    <div class="index">
        <p>How much cents do you have?</p>
        <form method="post" action="result" id="my_form">
            <input type="number" name="cents" min="1" id="welcome" onfocusout="welcomeTo()">
            <input type="submit" value="Submit" id="get_coins">
        </form>
    </div>
</center>