<html>
    <head>
        <title>Coin App</title>
        <link rel="stylesheet" type="test/css" href="/css/styles.css">
    </head>
    <body>
        <center>
            <div>Hello World!</div>
        </center>
    </body>
</html>